{{ define "head" }}
<link rel="stylesheet" href="/css/mermaid.css">
<link rel="stylesheet" href="/css/projectarticle.css">
{{ end }}

{{ define "main" }}
    <h1>{{ .Title }}</h1>
    <div>
        {{ .Content }}
    </div>
{{ end }}

{{ define "scripts" }}
    {{ if .Params.mermaid }}
        <script src="https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.min.js"></script>
        <script>
            // loads mermaid related js
            mermaid.initialize({ startOnLoad: true, theme: "dark" });
        </script>
    {{ end }}
{{ end }}
