.pdf-tabs {
    max-width: 100%;
    margin: auto;
}

.tab-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 1rem;
}

.tab.active {
    background: darkslategrey;
    font-weight: bold;
}
