
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.project-card {
    background-color: darkslategrey;
    color: black;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(62, 9, 194, 0.5);
}

.project-link {
    text-decoration: none;
}

.project-card img {
    width: 100%;
    height: 225px;
    object-fit: cover;
    display: block;
}

.project-card h3 {
    margin: 1rem;
    font-size: 1.5rem;
    color: black;
}

.project-card p {
    margin: 0 1rem 1rem 1rem;
    color: black;
}

.project-card ul {
    margin: 1rem;
    padding: 0;
    list-style: none;
}

.project-card ul li {
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
}
