
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}

.project-card {
    color: black;
    background-color: darkslategrey;

    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(62, 9, 194, 0.1);

    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;

    margin-bottom: 1rem;

    max-width: 400px;
}


.project-link {
    display: block;
    color: inherit;
    text-decoration: none;
    max-width: fit-content;
    max-height: fit-content;
}

.project-card img {
    width: 400px;
    height: 225px;
    object-fit: cover;
    display: block;
}

.project-card h3 {
    margin: 1rem;
    font-size: 1.5rem;
    color: black;
    text-align: center;
}

.project-card p {
    margin: 1rem;
    color: black;
    text-align: center;
}

.project-card ul {
    padding: 0;
    list-style: none;
}

.project-card ul li {
    margin-left: 1rem;
    font-size: 0.95rem;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(62, 9, 194, 0.5);
}